* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

h1 {
  font-size: 2.8rem;
}

/* Здесь я решил унифицировать все стили, так как регистрационная и логин формы по стилям идентичны */
.universalContainer {
  padding: 1%;
  background-color: rgba(244, 220, 183, 0.651);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.universalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.universalContainer > div {
  background-color: rgb(199, 230, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}

.universalInput {
  padding: 2%;
  max-width: 100%;
}

.universalInput:focus {
  outline: none;
}

.universalBtn {
  margin-top: 10px;
  width: 100%;
  height: 25px;
  border-radius: 6px;
  border: 1px solid rgba(203, 203, 203, 0.623);
}

.universalBtn:hover {
  background-color: rgb(224, 183, 246);
}

.hidden {
  display: none;
}

/* ================ START OF SIGN UP PAGE ==================== */

/* ================ END OF SIGN UP PAGE ==================== */

/* ================ START OF LOG IN PAGE ==================== */

/* ================ END OF LOG IN PAGE ==================== */
